@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-family: "Merriweather", serif;
}
/* style banner section */
.section-container{
  background-image: url(../images/Banner\ Image.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: overlay;
  max-width: 1320px;
  width: 1320px;
  height: 600px;
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

}
.section-header-content{
width: 632px;
height: 246px;
padding: 10px;

}
.section-header-title{
color: #fff;
font-weight: 400;
font-size: 32px;
}
.section-header-title2{
  color: #fff;
  font-weight: 900;
  font-size: 72px;
}
/* holiday section style */
.section-holiday{
  width: 803px;
  height: 806px;
 
  margin: 0 auto;
  margin-top: 100px;
  text-align: center;
}
.holiday-title{
 padding: 50px;
 font-weight: 700;
 font-size: 88px;
 color: rgb(255, 0, 0);



}
.holyday-heading{
  color:rgb(255, 0, 0);
  padding-bottom: 10px;
  font-size: 18px;
}
.holiday-sub-heading{
  font-size: 35px;
  padding-bottom: 40px;
}
.holiday-container-image img{
  width: 800px;
  height: 500px;
}
/* midnight part style  */
.midnight-party-container{
  width: 1320px;
  height: 600px;
  margin: 0 auto;
  margin-top: 100px;
}
.midnight-party-container{
  background-image: url(../images/Vectorrr.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: overlay;
  display: flex;
  
}
.midnight-content{
  width: 50%;
  text-align: center;
}
.midnight-content-title{
  color: #fff;
  font-size: 61px;
  margin-top: 100px;
}
.midnight-content-description{
  color: #fff;
  font-size: 15px;
  margin-top: 20px;
  margin-left: 95px;
  margin-bottom: 30px;
}
.join-now{
  color: #fff;
  font-size: 25px;
  padding-right: 230px;
 

}
.midnight-image img{
align-items: center;
margin-top: 90px;
padding-left: 200px;
}
/* address style */
.address-container{
  width: 1320px;
  height: 482px;
  
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  align-items: center;
 background-image: linear-gradient(to bottom right, rgb(255, 214, 214), rgb(240, 229, 223));
}
.address-content{
  width: 649px;
  height: 350px;
 
  text-align: center;
  font-size: 30px;
  font-weight:600;
  padding: 30px;
}
.red{
  color: red;
}
.btn{
  width: 167px;
  height: 56px;
  background-color: red;
  color: white;
  border-radius: 5px;
  padding: 16px;
  margin-top: 30px;
  border: none;
}
/* best offer style */
.best-offer-container{
  width: 1320px;
  height: 463px;
  margin: 0 auto;
  /* border: 1px solid red; */
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.best-offer-left-content{
  width: 33%;
  /* border: 1px solid red; */
 
}
.best-offer-middle-image{
  width:463px;
  height: 463px;
  /* border: 1px solid red; */
}
.best-offer-right-content{
  width: 32%;
  /* border: 1px solid red; */
  padding-left: 40px;
}
.left-title{
  font-size: 24px;
  color: red;
 
}
.left-title2{
  font-size: 48px;
  font-weight: 600;
}
.left-descriptio{
  font-size: 20px;
  margin-top: 20px;
  
}
.right-title{
  font-size: 48px;
  font-weight: bolder;
  color: red;
}
.right-description{
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 20px;
}

.best-offer-middle-image{
  border: 15px solid red;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.best-offer-middle-image img{
  width: 364px;
  height: 364px;
  
}
 
